{% extends "./home.html" %}

{% block content %}
    <div class="favorites">
        <h1>
        Your favorite currencies are:
        </h1>
        <p>
            Click on a currency to remove it to your favourite currenices
        </p>

        <form action={% url 'Crypto:remove' %} method="POST">
            {% for currency in response %}
                <input type="submit" name="favorite" class="button" value="{{currency}}" />
            {% endfor %}
            
            {% csrf_token %}
        </form>
      
        
    </div>
{% endblock %}


